.music-tile {
    height: auto;
    background: #444;
    box-shadow: 1px 1px 6px #444, -1px 1px 6px #444, 1px -1px 6px #444, -1px -1px 6px #444;
}
.music-thumbnail {
    position: relative;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}
.music-thumbnail img {
    width: 100%;;
}
.music-tile .store-logo {
    max-width: 150px;
}

.x-now-header {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    /* background: #f2cb05; */
    color: #fff;
    background: #444;
    /* opacity: 40%; */
}
.x-now-header div[aria-expanded="false"] .icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078"; /* \f077 */
}
.x-now-header div[aria-expanded="true"] .icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}
.x-now-header.line-top {
    border-top: 1px solid #fff;
}

.x-now-body {
    padding: 0.7em 0.7em 0.7em 0.7em;
    background: #fff;
    /* transform: scaleY(0); */
}
.x-now-body ul {
    margin: 0 0 0 0;
    padding: 0px 0px 0px 0px;
}
.x-now-body li {
    margin: none;
    list-style-type: none;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}