/*Theme Name: Ay.Be Lexington
Description: Website theme for Ay.Be Lexington
Version: 1.1.0
Author: Coalesced Data Solutions
Author URI: https://coalesceddata.com*/

@font-face {
    font-family: 'Montserrat Regular';
    src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: 'Montserrat Light';
    src: url(fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: 'Montserrat Semi Bold';
    src: url(fonts/Montserrat-SemiBold.otf);
}
@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url(fonts/Montserrat-ExtraBold.otf);
}
@font-face {
    font-family: 'Steadfast Regular';
    src: url(fonts/Steadfast-Regular.otf);
}

html,
body {
    position: relative;
}
@media screen and (min-width: 1200px) {
    html,
    body {
        height: 100%;
    }
}

html {
    background: url(images/AyBe_Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Montserrat Regular';
    background: transparent;
    color: #000;
}
@media screen and (min-width: 1200px) {
    body {
        overflow: visible;
    }
}
.content {
    text-align: center;
}
a {
    font-family: 'Montserrat Extra Bold';
    color: #fd0201;
}
h2 {
    font-family: 'Montserrat Semi Bold';
    font-size: 2em;
    color: #000;
    text-align: center;
}
h3 {
    font-family: 'Montserrat Light';
    font-size: 1.5em;
    color: #f2cb05;
}
.mobile-logo {
    height: 60px;
}
.splash-content-row {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.splash-content-col {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: auto;
}
@media screen and (min-width: 1200px) {
    .splash-content-col.show-doors {
        display: block !important;
    }
}
@media screen and (max-width: 1199px) {
    .splash-content-col-mobile.show-doors {
        display: block !important;
    }
}
@media screen and (max-width: 1199px) {
    .splash-content-col-mobile {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.page-content-row {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
}
@media screen and (min-width: 1200px) {
    .page-content-row {
        height: 100%;
    }
}
.page-content-col {
    position: relative;
    width: 100%;
    z-index: 5;
}
@media screen and (min-width: 1200px) {
    .page-content-col {
        height: 100%;
        /* padding-bottom: 5em; */
        overflow-y: scroll;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .page-content-col::-webkit-scrollbar {
        display: none; 
    }
}
@media screen and (max-width: 1199px) {
    .page-content-col {
        padding-top: 2em;
        padding-bottom: 2em;
        padding-right: 1.2em;
        padding-left: 1.2em;
    }
}

.site-button, .contact-form button {
    background: transparent;
    color: #000 !important;
    cursor: pointer;
    border: 1px solid #000 !important;
    border-radius: 4px;
}
.site-button:hover, .contact-form button:hover {
    opacity: 0.8;
    color: #f2cb05 !important;
    border: 1px solid #f2cb05 !important;
}
.site-button:active, .contact-form button:active {
    color: #72d5f4 !important;
    border: 1px solid #72d5f4 !important;
}


/*
 *  Menu CSS
 */
.side-menu {
    margin-right: 1.5em;
}
.side-menu li {
    list-style-type: none;
    margin-bottom: 0.7em;
}
.side-menu a {
    font-family: 'Steadfast Regular';
    text-decoration: none;
    color: #000;
    font-size: 2.3em;
}
.side-menu .current-menu-item a,
.side-menu .current-menu-ancestor a {
    color: #fd0201;
}
.side-menu a .fa-key {
    font-size: 0.5em;
    padding-right: 0.4em;
    vertical-align: middle;
}

.mobile-menu a {
    font-family: 'Steadfast Regular';
    font-size: 1.8em;
    font-weight: bold;
}


/*
 * Social links CSS
 */
 @media screen and (min-width: 1200px) {
    .social-menu {
        padding: 0.5em 1em 0.5em 1em;
    }
 }
 @media screen and (max-width: 1199px) {
    .social-menu {
        padding: 1em 1em 1em 1em;
    }
 }
.social-menu ul {
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}
.social-menu li {
    display: inline;
    list-style-type: none;
}
.social-menu a {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
}
@media screen and (min-width: 1200px) {
    .social-menu a {
        padding-left: 1em;
    }
}
@media screen and (max-width: 1199px) {
    .social-menu a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

/*
 *  Doors CSS
 */
 .door-trim {
    background: url('images/YellowDoor\ -\ Frame.png');
    -webkit-background-size: 650px 779px;
    -moz-background-size: 650px 779px;
    -o-background-size: 650px 779px;
    background-size: 650px 779px;
    background-position: bottom center;

    position: relative;
    width: 650px;
    height: 779px;
    overflow: visible;
    z-index: 100; 

    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
}
@media screen and (orientation: landscape) {
    .door-trim {
        margin: auto auto 5em auto;
    }
}
@media screen and (orientation: portrait) and (min-width: 1200px) {
    .door-trim {
        margin: auto auto 8.7em auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .door-trim {
        margin: 1.5em auto 1.5em auto;
    }
}
.back-door {
    background-color: #333;
    position: relative;
    top: 33px;
    width: 584px;
    height: 740px;
    z-index: 30;
    margin: auto;
}
.back-door .door-screenshot {
    position: absolute;
    display: none;
    max-width: 584px;
    top: 134px;
    z-index: 40;
}
.back-door .door-screenshot-open {
    display: block;
}
.door-left {
    background: url('images/YellowDoor\ -\ Left.png');
    -webkit-background-size: 293px 742px;
    -moz-background-size: 293px 742px;
    -o-background-size: 293px 742px;
    background-size: 293px 742px;

    position: absolute;
    top: 0px;
    left: -2px;
    width: 293px;
    height: 742px;
    z-index: 50;

    transform-origin: left;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
}
.door-right {
    background: url('images/YellowDoor\ -\ Right.png');
    -webkit-background-size: 293px 742px;
    -moz-background-size: 293px 742px;
    -o-background-size: 293px 742px;
    background-size: 293px 742px;

    position: absolute;
    top: 0px;
    left: 291px;
    width: 293px;
    height: 742px;
    z-index: 50;

    transform-origin: right;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
}
.door-left-open {
    /*perspective creates the door open effect*/
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(80deg);
    box-shadow: -20px 0px #dcc255;
    z-index: 50;
}
.door-right-open {
    /*perspective creates the door open effect*/
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-80deg);
    box-shadow: 20px 0px #dcc255;
    z-index: 50;
}
@media screen and (min-width: 992px) {
    .door-trim-open {
        display: block;
        transform: scale(1.9);
        z-index: 100;
    }
}

.sidewalk {
    height: 5.5em;
    background: transparent;
}

.door-vine {
    background: url('images/Vine.png');
    -webkit-background-size: 266px 840px;
    -moz-background-size: 266px 840px;
    -o-background-size: 266px 840px;
    background-size: 266px 840px;
    background-repeat: no-repeat;
    background-position: bottom left;

    width: 266px;
    height: 840px;
    position: absolute;
    bottom: -0.55em;
    left: -5.0em;
    z-index: 110;
}

/* Mobile site door */

.door-trim-mobile {
    background: url('images/YellowDoor\ -\ Frame.png');
    background-repeat: no-repeat;
    -webkit-background-size: 314px 400px;
    -moz-background-size: 314px 400px;
    -o-background-size: 314px 400px;
    background-size: 314px 400px;
    background-position: top center; 

    position: relative;
    width: 314px;
    height: 400px;
    margin: auto auto auto auto;
    overflow: visible;
    z-index: 100;
    
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
}
.back-door-mobile {
    background-color: #333;
    position: relative;
    top: 17px;
    width: 286px;
    height: 383px;
    z-index: 30;
    margin: auto auto auto auto;
}
.back-door-mobile .door-screenshot {
    position: absolute;
    display: none;
    max-width: 286px;
    top: 75px;
    z-index: 40;
}
.back-door-mobile .door-screenshot-open {
    display: block;
}
.door-left-mobile {
    background: url('images/YellowDoor\ -\ Left.png');
    -webkit-background-size: 143px 383px;
    -moz-background-size: 143px 383px;
    -o-background-size: 143px 383px;
    background-size: 143px 383px;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 143px;
    height: 383px;
    z-index: 50;

    transform-origin: left;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
}
.door-right-mobile {
    background: url('images/YellowDoor\ -\ Right.png');
    -webkit-background-size: 143px 383px;
    -moz-background-size: 143px 383px;
    -o-background-size: 143px 383px;
    background-size: 143px 383px;

    position: absolute;
    top: 0px;
    left: 143px;
    width: 143px;
    height: 383px;
    z-index: 50;

    transform-origin: right;
    /*Speed of the Door animation*/
    transition: all 0.5s ease-in-out;
}
.door-vine-mobile {
    background: url('images/Vine.png');
    -webkit-background-size: 137px 435px;
    -moz-background-size: 137px 435px;
    -o-background-size: 137px 435px;
    background-size: 137px 435px;
    background-repeat: no-repeat;
    background-position: bottom left;

    width: 137px;
    height: 435px;
    position: absolute;
    bottom: -5px;
    left: -42px;
    z-index: 110;
}

/*
 *  Footer CSS
 */
.footer {
    overflow: visible;
    height: 5.5em;
    /* background: url('images/LandingPage_Background_SideWalk.png');
    background-repeat: no-repeat;
    background-size: 100% 5.5em; */
    z-index: 0;
}

.subscribe {
    font-family: 'Montserrat Semi Bold';
}
@media screen and (min-width: 1200px) {
    .subscribe {
        font-size: 1.3em;
    }
}
.subscribe form > div {
    line-height: 1.5em;
    vertical-align: middle;
}

.subscribe label {
    margin-bottom: 0;
}

.subscribe input[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    background: transparent;
    color: #000;
}
.subscribe input[type=text]::placeholder {
    color: #000;
    /* opacity: 0.7; */
}
.subscribe input[type=text]:-ms-input-placeholder {
    color: #000;
    /* opacity: 0.7; */
}
.subscribe input[type=text]::-ms-input-placeholder {
    color: #000;
    /* opacity: 0.7; */
}
.subscribe input[type=text]:focus {
    outline: none;
}
.subscribe input[type=text]:focus::-webkit-input-placeholder {
    color: transparent;
}
.subscribe input[type=text]:focus:-moz-placeholder {
    color: transparent;
}
.subscribe input[type=text].is-invalid {
    border-bottom: 1px solid #bb0000;
}

.copyright .copy-line {
    font-family: 'Montserrat Semi Bold';
}
.copyright .created-by {
    font-family: 'Montserrat Light';
    font-size: 0.7em;
}


/*
 * Offcanvas menu
 */
@media screen and (max-width: 1199px) {
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #eeeeee;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: 200;
    }
}



/*
 * Music Tile
 */
.music-tile {
    height: auto !important;
    background: #444 !important;
    box-shadow: 1px 1px 6px #444, -1px 1px 6px #444, 1px -1px 6px #444, -1px -1px 6px #444 !important;
}
.music-thumbnail {
    position: relative !important;
    text-align: center !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    width: 100% !important;
}
.music-thumbnail img {
    width: 100% !important;
}
.music-tile .store-logo {
    max-width: 150px !important;
}

.buy-now-line-top {
    border-top: 2px solid #fff !important;
}

.x-now-header {
    width: 100% !important;
    padding: 0.5em 0.5em 0.5em 0.5em !important;
    text-transform: uppercase !important;
    font-size: 1em !important;
    font-weight: bold !important;
    /* background: #f2cb05; */
    color: #fff !important;
    background: #444 !important;
    /* opacity: 40%; */
}
.x-now-header div[aria-expanded="false"] .icon::before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content: "\f078" !important;
}
.x-now-header div[aria-expanded="true"] .icon::before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content: "\f077" !important;
}
.x-now-header.line-top {
    border-top: 1px solid #fff !important;
}

.x-now-body {
    padding: 0.7em 0.7em 0.7em 0.7em !important;
    background: #fff !important;
    /* transform: scaleY(0); */
}
.x-now-body ul {
    margin: 0 0 0 0 !important;
    padding: 0px 0px 0px 0px !important;
}
.x-now-body li {
    margin: none !important;
    list-style-type: none !important;
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
}



/*
 * Divi overrides
 */
.et_pb_section, .et_pb_row {
    padding: 0px 0px !important;
}

.et_pb_toggle_title::before {
    -moz-transition: all 1s ease; /* Firefox */
    -webkit-transition: all 1s ease; /* WebKit */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease; /* Standard */
}
.et_pb_toggle_title.open::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
}