/* .mailing-list-form form {
	margin:0;
	position: relative;
}
.mailing-list-form form input {
	margin-top: 12px;
} */

.mailing-list-form .alert:not(.visible) {
    display: none;
}

.mailing-list-form .send-div {
	position: relative;
}

.mailing-list-form .sending {
    position: absolute;
    bottom: 8px;
    right: 0;
    display: none;
	width: 32px;
	height: 32px;
}

.mailing-list-form .sending.visible {
    display: block;
}

.mailing-list-form .sending:after {
	content: " ";
	display: block;
	width: 32px;
	height: 32px;
	margin: 1px;
	border-radius: 50%;
	border: 2px solid #c0c0c0;
	border-color: #c0c0c0 transparent #c0c0c0 transparent;
	animation: lds-dual-ring 0.5s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}